main {
    background: var(--Sec);
    height: 100%;
    width: 80%;
}

.Conteudo {
    display: flex;
    height: calc(100% - 50px);
    width: 100%;
}


.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
