:root {
    --Pri: #0079FF;
    --Sec: #00DFA2;
    --Ter: #F6FA70;
    --Qua: #FF0060;

    --Texto: white;
    --Preto: black;

    --OptionHover: rgba(255, 255, 255, 0.452);
    --OptionSelect: rgba(255, 217, 0, 0.452);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Texto);
}

.Palheta0 {
    --Pri: #243763;
    --Sec: #312c2a;
    --Ter: #ffb700;
    --Qua: #FF6E31;
}
.Palheta1 {
    --Pri: #3C486B;
    --Sec: #d6d4d4;
    --Ter: #F9D949;
    --Qua: #F45050;
}
.Palheta2 {
    --Pri: #FF55BB;
    --Sec: #FFD3A3;
    --Ter: #FCFFB2;
    --Qua: #B6EAFA;
}
.Palheta3 {
    --Pri: #0079FF;
    --Sec: #00DFA2;
    --Ter: #F6FA70;
    --Qua: #FF0060;
}