:root {
    --Pri: #0079FF;
    --Sec: #00DFA2;
    --Ter: #F6FA70;
    --Qua: #FF0060;

    --Texto: white;

    --OptionHover: rgba(255, 255, 255, 0.452);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Texto);
}

.Palheta0 {
    --Pri: #243763;
    --Sec: #FF6E31;
    --Ter: #FFEBB7;
    --Qua: #AD8E70;
}
.Palheta1 {
    --Pri: #3C486B;
    --Sec: #F0F0F0;
    --Ter: #F9D949;
    --Qua: #F45050;
}
.Palheta2 {
    --Pri: #FF55BB;
    --Sec: #FFD3A3;
    --Ter: #FCFFB2;
    --Qua: #B6EAFA;
}
.Palheta3 {
    --Pri: #0079FF;
    --Sec: #00DFA2;
    --Ter: #F6FA70;
    --Qua: #FF0060;
}